$primary: #f8cdcd;

$secondary-color: #f09595;

$turquoise-green: #b9e3c6ff;

$ocean-green: #59c9a5ff;

$ruby: #d81e5bff;

$prussian-blue: #23395bff;

$canary: #fffd98ff;

$snow: #f7f2f4ff;

$jet: #343434ff;