.action {
    position: relative;
}

.btn-action {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-section {
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.action:focus-within .dropdown-section {
    top: 25px;
    z-index: 2;
    background-color: #fff;
    border-radius: 6px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.dropdown-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown-section li {
    width: 150px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.dropdown-section li a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.chat-footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: small;
    margin-left: 10px;
}

.btn-send {
    transform: rotate(50deg);
}