/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap");

:root {
    --primary: #f8cdcd;
    --secondary-color: #b3cee5;
    --turquoise-green: $turquoise-green;
    --ocean-green: $ocean-green;
    --ruby: $ruby;
    --prussian-blue: $prussian-blue;
    --canary: $canary;
    --snow: $snow;
    --jet: $jet;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: var(--snow);
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg-login.jpeg");
}

.d-flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
}

.d-flex-between h1 {
    margin: 0;
}

.form-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url("../images/bg-login.jpeg");
    height: 100vh;
}

.form-login .form-section {
    background-color: var(--primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 10px var(--secondary-color);
    box-shadow: 0px 0px 10px var(--secondary-color);
    border-radius: 6px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group .form-label {
    display: block;
    font-size: small;
    margin-bottom: 0.5rem;
}

.form-group .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-group .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-group {
    margin-bottom: 0;
}

.btn {
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    width: 100%;
}

.main-screen {
    background-color: var(--primary);
    width: 100%;
    height: 98vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.chat-container {
    max-width: 1240px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px;
}

.chat-container .contacts-panel {
    max-width: 300px;
    width: 30%;
    border-right: 1px solid var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.chat-container .contacts-panel .brand-section {
    height: 59px;
    border-bottom: 1px solid var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 10px;
}

.chat-container .contacts-panel .search-section {
    padding: 10px;
    border-bottom: 1px solid var(--secondary-color);
}

.chat-container .contacts-panel .contacts-section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.chat-container .contacts-panel .title-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
}

.chat-container .communication-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.chat-container .communication-panel .communication-section {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.chat-container .communication-panel .header-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0 10px;
}

.chat-container .communication-panel .voice-recorder-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
}

.media-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid var(--secondary-color);
}

.media-card img {
    width: 35px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.brand-section .media-card img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.contacts-section .media-card img {
    max-height: 35px;
}

.chat-footer-section {
    height: 50px;
    border-top: 1px solid var(--secondary-color);
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.action {
    position: relative;
}

.action:focus-within .dropdown-section {
    top: 25px;
    z-index: 2;
    background-color: #fff;
    border-radius: 6px;
    height: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-action {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-section {
    position: absolute;
    top: 30px;
    left: 0;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dropdown-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.dropdown-section li {
    width: 150px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.dropdown-section li a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.timer {
    font-size: small;
    margin-left: 10px;
}

.btn-send {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

/*******************************************************************************
## audio_player -> audio-player.scss
## This file will use to style custom audio player that will look like slider
*******************************************************************************/
.comment-voice-memo {
    min-height: 33px;
    height: auto;
}
.comment-voice-memo .player-loading-affect {
    display: none;
}
.comment-voice-memo .voice-memo-wrapper {
    width: 100%;
}
.comment-voice-memo .voice-memo-player {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
    margin-top: 3px;
}
.comment-voice-memo .voice-memo-player .player-controls,
.comment-voice-memo .voice-memo-player .player-timer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
}
.comment-voice-memo .voice-memo-player .player-slider-wrap {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.comment-voice-memo .voice-memo-player .player-slider-wrap .player-progress-bar {
    -webkit-appearance: none;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#d3d3d3), to(#d3d3d3));
    background: linear-gradient(to right, #d3d3d3 0%, #d3d3d3 100%);
    border-radius: 25px;
}
  .comment-voice-memo .voice-memo-player .player-slider-wrap .player-progress-bar:focus {
    outline: none;
}
.comment-voice-memo .voice-memo-player .player-slider-wrap .player-progress-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    border-radius: 25px;
}
.comment-voice-memo .voice-memo-player .player-slider-wrap .player-progress-bar::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #1a5594;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
.comment-voice-memo .voice-memo-player i {
    font-size: 14px;
    line-height: 1;
    color: #d3d3d3;
    cursor: pointer;
}
.comment-voice-memo .voice-memo-player .player-actions-wrap {
    margin-right: 7px;
}
.comment-voice-memo .voice-memo-player .player-actions-wrap .btn-pause-audio {
    display: none;
}
.comment-voice-memo .voice-memo-player .player-actions-wrap .btn-pause-audio:hover {
    color: #1a5594;
}
.comment-voice-memo .voice-memo-player .player-actions-wrap .btn-play-audio {
    display: inline-block;
    color: #1a5594;
}
.comment-voice-memo .voice-memo-player .playing .player-actions-wrap .btn-pause-audio {
    display: inline-block;
}
.comment-voice-memo .voice-memo-player .playing .player-actions-wrap .btn-play-audio {
    display: none;
}
.comment-voice-memo .voice-memo-player .player-timer-wrap {
    font-size: 12px;
}
.comment-voice-memo.loading {
    position: relative;
}
.comment-voice-memo.loading .player-loading-affect {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f9fafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 2px;
    margin-top: 3px;
}
.comment-voice-memo.loading .player-loading-affect i {
    display: inline-block;
}
.comment-voice-memo + span {
    position: absolute;
    top: 34px;
    color: var(--text-muted);
}
@media (max-width: 576px) {
    .comment-voice-memo .voice-memo-player {
      width: 100%;
    }
    .comment-voice-memo .voice-memo-player .player-slider-wrap {
      position: relative;
      top: -3px;
    }
    .comment-voice-memo + span {
      display: block;
      position: relative;
      top: 10px;
    }
}

.audio-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*******************************************************************************
## voice_recorder -> voice-recorder.scss
## This file will use to style voice recorder for document's comment section
*******************************************************************************/
.voice-memo-recorder-wrap {
    width: 100%;
    max-width: 320px;
    height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.voice-memo-recorder-wrap i {
    font-size: 14px;
    line-height: 1;
    color: #d3d3d3;
    cursor: pointer;
}
.voice-memo-recorder-wrap .btn-record {
    display: inline-block;
    color: #1a5594;
}
.voice-memo-recorder-wrap .btn-stop-wrap {
    display: none;
}
.voice-memo-recorder-wrap .btn-stop {
    color: #dc3545;
}
.voice-memo-recorder-wrap .btn-upload-memo {
    display: none;
    margin-right: 10px;
}
.voice-memo-recorder-wrap .btn-upload-memo i {
    font-size: 13px;
    color: #1a5594;
    margin-right: 5px;
}
.voice-memo-recorder-wrap .comment-voice-memo {
    display: none;
}
.voice-memo-recorder-wrap.recording .btn-record {
    display: none;
}
.voice-memo-recorder-wrap.recording .btn-stop-wrap {
    display: inline-block;
}
.voice-memo-recorder-wrap.recorded {
    margin-top: 7px;
}
.voice-memo-recorder-wrap.recorded .btn-stop,
.voice-memo-recorder-wrap.recorded .btn-record,
.voice-memo-recorder-wrap.recorded .btn-recording-timer {
    display: none;
}
.voice-memo-recorder-wrap.recorded .comment-voice-memo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.voice-memo-recorder-wrap.recorded .comment-voice-memo .voice-memo-player {
    margin-top: 6px;
    width: 100%;
    margin-right: 10px;
}
.voice-memo-recorder-wrap.recorded .comment-voice-memo .voice-memo-player .btn-delete-memo {
    color: #dc3545;
    font-size: 16px;
    margin-top: -2px;
}
.voice-memo-recorder-wrap.recorded .comment-voice-memo .voice-memo-player .player-actions-wrap,
.voice-memo-recorder-wrap.recorded .comment-voice-memo .voice-memo-player .player-slider-wrap,
.voice-memo-recorder-wrap.recorded .comment-voice-memo .voice-memo-player .player-timer-wrap {
    margin-right: 10px;
}
.voice-memo-recorder-wrap.recorded .comment-voice-memo .voice-memo-player .player-slider-wrap {
    top: -3px;
    position: relative;
}
.voice-memo-recorder-wrap.recorded .comment-voice-memo.loading .player-loading-affect {
    margin-top: 0;
    z-index: 2;
}
.voice-memo-recorder-wrap.recorded .btn-upload-memo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 360px) {
    .voice-memo-recorder-wrap.recorded {
      width: 45%;
    }
}
  
.ml-auto {
    margin-left: auto;
}
  
@media (max-width: 576px) {
    .comment-box {
      padding: 45px var(--padding-xl);
    }
  
    .voice-memo-recorder-wrap,
.voice-memo-recorder-wrap.recorded {
      margin-top: 20px;
      width: 100%;
      max-width: 100%;
    }
}