// dark theme
:root {
  // main screen and panel backgrounds

  --primary: #242736;
  // for button backgrounds and border colors

  --secondary: #2e3c4b;
  // for the headings, paragraphs, button and text colors
  --text-color: rgb(224, 204, 204);
}

/*
// light theme
:root {
  // main screen and panel backgrounds
  --primary: #edd87a;

  // for button backgrounds and border colors
  --secondary: #ebae4c;
  
  // for the headings, paragraphs, button and text colors
  --text-color: rgb(0, 0, 0);
}
*/